# =========================
# Compiled source #
# =========================
*.pyc

# =========================
# Installation Artifacts #
# =========================
drepo.egg-info/*

# =========================
# Pytest logs #
# =========================
.pytest_cache/*
.cache/*
**/.pylint.d/*

# =========================
# MyPy #
# =========================
.mypy_cache/*
.mypy_report/*
.dmypy.json

# =========================
# Folder/Files #
# =========================
.coverage
